<h2><%= @todo_list.title %></h2>

<table class="todo_items">
  <thead>
    <tr>
      <th width="25%">Completed?</th>
      <th width="65%">Content</th>
      <th width="10%">Functions</th>
    </tr>
  </thead>

  <tbody>
    <% @todo_list.todo_items.each do |item| %>
      <tr id="<%= dom_id(item) %>">
        <td>
          <% if item.completed? %>
            <%= item.completed_at %>
          <% else %>
            <%= link_to 'Mark Complete', complete_todo_list_todo_item_path(item), method: :patch %>
          <% end %>
        </td>
        <td>
          <%= item.content %>
        </td>
        <td>
          <%= link_to 'Edit', edit_todo_list_todo_item_path(item) %>
          <%= link_to 'Delete', todo_list_todo_item_path(item), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'New Todo Item', new_todo_list_todo_item_path %>
</p>
